.leaflet-container{
    border: transparent;
    border-radius: 8px;
    width: 95%;
    height: 500px;
    z-index: 0;
}

.popUp_name{
    color: var(--colorPrincipal);
    font-weight: bold;
}

@media (min-width: 1024px){
    .leaflet-container{
        width: 100%;
    }
}
