/*Grilla para la página de reservas*/

.reservation_container_grid{
    display: grid;
    grid-template-columns: 66% 33%; /*Ancho de las columnas*/
    grid-template-rows: 25% 40% 35%; /*Alto de las filas*/
    grid-gap: 30px; /*Separación entre celdas de la grilla*/
    margin: 30px 40px;
}

.forminputs{
    grid-column: 1/2;
    grid-row: 1;
}

.reservationinformation{
    grid-column: 2;
    grid-row: 1/4;
}

.reservationDates{
    grid-column: 1/2;
    grid-row: 2;
}

.reservationTime {
    grid-column: 1/2;
    grid-row: 3/4;
}

@media screen and (max-width:768px){
    .reservation_container_grid{

        display: inline;
    }
    
}
