.container_upload_features {
    padding-left: 2%;
    padding-right: 2%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container_upload_features>h2 {
    color: var(--color2);
    font-size: var(--size20);
    margin: 0;
}

.form_label{
    display: flex;
    flex-direction: column;
    color: var(--color2);
    font-weight: bold;
    margin: 5px;
    font-size: 14px;
}

.form_input{
    border: none;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.12));
    color: var(--color2);
    margin-top: 8px;
    padding: 9px;
    border-radius: 8px;
}

.features_title{
    color: var(--color2);
    margin: 12px 0;
}

.inputs_features{
    background-color: whitesmoke;
    padding: 20px;
    display: grid;
    grid-template-columns: 60% 35% 5%;
    grid-template-rows: auto;
    grid-gap: 10px;
    border-radius: 8px;
}

.button_add_feature {
    background-color: var(--colorPrincipal);
    border: none;
    color: white;
    font-size: 2rem;
    height: 1.3em;
    margin-top: 1em;
    margin-right: .3em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    cursor:pointer;
}


.button_add_feature:hover {
    background-color: #05728d;
    transition: 0.7s;
    transform: scale(1.1)
}


@media screen and (max-width:768px){
    .container_upload_features{
        height: 28vh;
    }
    
    .inputs_features{
        grid-template-columns: 90% 10%;
        grid-template-rows: auto auto;
    }

    .form_input_responsive{
        grid-column: 1;
    }

    .plus_icon{
        margin-top: -15px;
    }
}
